@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
 margin: 0; 
padding: 0;
font-family: 'Roboto';

}
body{
  background: blanchedalmond;  
   height: 100vh;
   
}
.header{
    width: 100%; 
    background-color: grey;
    display: flex;
    justify-content:space-between;
     align-items: center;
     /* margin-right: 0;
     margin-top: 0; */
}
   

.logo{
    text-decoration: none;

}
.navbar a{
font-size: 18px;
color: #041b15;
text-decoration: none;
margin-left: 10px;
align-items: end;
display: inline;
}
.navbar a:hover {
    color:blueviolet;

}
.navbar a:active{
color: aquamarine;
}
.main{

    text-align: center;
    line-height: 2rem;
    font-weight: 500;
    margin-right: 1rem;
   
}
p{
    color: wheat;
    font-size: 13px;
}

 h2{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    color: beige;
    text-decoration: underline;
 }
 .homecontent {
padding: 2.5rem;
  background-color: #041b15;
 margin: 2rem;
   
  
 }
 .aboutcontent{
    padding: 1.5rem;
  background-color: #041b15;
 margin-top: 3rem;
  margin: 2.5rem;
 }
 .workcontent{
padding: 1.5rem;
  background-color: #041b15;
 margin-top: 3rem;
  margin: 2.5rem;

 }
 .resumecontent{
      padding: 1.5rem;
  background-color: #041b15;
 margin-top: 3rem;
  margin: 2.5rem;
 }
 .contactcontent{
     padding: 1.5rem;
  background-color: #041b15;
 margin-top: 3rem;
  margin: 2.5rem;
 }
 .footer{
    margin-bottom: 5rem;
 }
 .footer a {
background-color: aquamarine;
text-decoration: none;

 }
 .footer a:link {
    color: black;
 }
 .footer a:hover {
color: blueviolet;
 }